[Unit]
Description=etcd Distributed Key-Value Store
After=network.target

[Service]
EnvironmentFile=/etc/default/etcd
ExecStart=/usr/bin/etcd $DAEMON_ARGS
Restart=on-failure
Type=notify

[Install]
WantedBy=multi-user.target

